<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Repülőjegy foglalás</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/aside.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-khIpoy0tX9M61xFNtuYrOBdM0bymud0/uvjbj94Dbnw/5D/DBExhcQ8nIS5k5S5P5UXn47+JZ8xwZzD4egE4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap2.css">
  <link rel="stylesheet" href="/vendors/linericon/style.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css">
  <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
  <!-- main css -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/responsive.css">

</head>
<body>
<header>
  <div class="logo">
    <a href="/"><h1>repjegyek.store</h1></a>
  </div>
  <nav class="unique-nav-bar">
    <ul>
      <li><a href="/">Kezdőoldal</a></li>
      <li><a href="/repjegy">Repülőjegyek</a></li>
      <li><a href="/szalloda">Szállások</a></li>
      <li><a href="/biztositas">Biztosítások</a></li>
      <li><a href="/menetrend">Menetrendek</a></li>
      <li><a href="/" hidden="hidden">Kijelentkezés</a></li>
      <li><a class="login-icon" href="/login">
        <i class="fa-solid fa-user"></i>
      </a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <section class="banner_area">
    <div class="booking_table d_flex align-items-center">
      <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
      <div class="container">
        <div class="banner_content text-center">
          <h6>Keress, foglalj, utazz</h6>
          <h2>Fedezd fel a világot velünk</h2>
          <h6>A lefoglalni kívánt repülőjegy</h6>
        </div>
      </div>
    </div>
    <div class="hotel_booking_area position">
      <table class="table table-hover" id="jaratok-table">
        <thead id="jaratok-thead">
        <tr>
          <th>Járatszám</th>
          <th>Indulási város</th>
          <th>érkezési város</th>
          <th>indulási időpont</th>
          <th>érkezési időpont</th>
          <th>Ülések száma</th>
          <th>Utasok száma</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="jarat : ${Jaratok}">
          <td th:text="${jarat.jaratszam}"></td>
          <td th:text="${jarat.indulasi_varos}"></td>
          <td th:text="${jarat.erkezesi_varos}"></td>
          <td th:text="${jarat.indulasi_idopont}"></td>
          <td th:text="${jarat.erkezesi_idopont}"></td>
          <td th:text="${jarat.ulesek_szama}"></td>
          <td th:text="${jarat.utasok_szama}"></td>
        </tr>
        </tbody>
      </table>
      <form method="post" th:action="@{/foglal_repjegy}">
        <input name="jaratszam" type="number" hidden  th:value="${jaratszam}">
        <div class="container">
          <div class="hotel_booking_table">
            <div class="col-md-9">
              <div class="boking_table">
                <div class="row">
                  <div class="col-md-4">
                    <div class="book_tabel_item">
                      <div class="form-group">
                        <div class='input-group ppl-number'>
                          <input type="number" name="darab" placeholder="Darab">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class='input-group ppl-number' >
                          <select name="osztaly" id="osztaly">
                            <option value="0" selected disabled>Válassz osztályt</option>
                            <option value="1">Fapados</option>
                            <option value="2">Első</option>
                            <option value="3">Business</option>
                            <option value="4">Economy</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="book_tabel_item">
                      <div class="input-group ppl-number">
                        <select name="tipus" id="fo">
                          <option value="0" selected disabled>Válassz Típust</option>
                          <option value="1">Felnőtt</option>
                          <option value="2">Gyerek</option>
                        </select>
                      </div>
                        <button class="book_now_btn button_hover" type="submit">
                          Foglalás
                        </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</main>

<aside>
  <div class="contact">
    <h3>Kapcsolat</h3>
    <ul>
      <li><i class="fas fa-phone"></i> +1-123-456-7890</li>
      <li><i class="fas fa-envelope"></i> info@jegyfoglalas.hu</li>
      <li><i class="fas fa-map-marker-alt"></i>1055 Szent Gellért tér 82., Budapest</li>
    </ul>
  </div>
  <div class="payment-options">
    <h3>Fizetési lehetőségek</h3>
    <img class="mastercard" src="/pic/pay/mastercard.svg" alt="Mastercard">
    <img class="visa" src="/pic/pay/visa.svg" alt="Visa">
    <img class="paypal" src="/pic/pay/paypal.svg" alt="PayPal">
  </div>
  <div class="social">
    <h3>Kövessen minket!</h3>
    <ul>
      <li>
        <a href="#" class="facebook">
          <i class="fa-brands fa-facebook fa-2xl"></i>
        </a>
      </li>
      <li>
        <a href="#" class="twitter">
          <i class="fa-brands fa-twitter fa-2xl"></i>
        </a>
      </li>
      <li>
        <a href="#" class="linkdIn">
          <i class="fa-brands fa-linkedin fa-2xl"></i>
        </a>
      </li>
    </ul>
  </div>

</aside>
<footer>
  <nav>
    <ul>
      <li><a href="#">Felhasználási feltételek</a></li>
      <li><a href="#">Adatkezelési tájékoztató</a></li>
      <li><a href="#">Rólunk</a></li>
    </ul>
  </nav>
  <p>&copy; 2023 repjegyek.store | Minden jog fenntartva.</p>
</footer>

<script src="https://kit.fontawesome.com/02cb21146d.js" crossorigin="anonymous"></script>
</body>
</html>


