* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;!important;
    background-color: #0f0f0f!important;
}

main {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;

}

table{
    margin-top: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}